<section id="home">
    <div class="container">
  <app-banner></app-banner>
  </div>
</section>
<section class="about">
  <div class="container">
    <app-about></app-about>
  </div>
</section>
<section class="skills">
  <div class="container">
   <app-skills></app-skills>
  </div>
</section>
<section class="projects">
  <div class="container">
   <app-projects></app-projects>
  </div>
</section>
<section class="experience">
  <div class="container">
   <app-experiences></app-experiences>
  </div>
</section>
<section class="education">
  <div class="container">
   <app-education></app-education>
  </div>
</section>
<section class="certification">
  <div class="container">
   <app-certification></app-certification>
  </div>
</section>
<section class="contact">
  <div class="container">
  <app-contact></app-contact>
  </div>
</section>